*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
body{
    width: 100vw;
    height: 100vh;
    background: linear-gradient(to right, #4daf54, #3d8880);
}
.wrapper{
    width: 250px;
    height: 300px;
    background-color: rgb(51, 50, 50);
    margin: 0px auto;
    margin-top: 150px;
    border-radius: 5px;
    cursor: pointer;
}
.header{
    display: flex;
    justify-content: space-between;
    padding: 5px 15px;
    color: white;
    font-size: 20px;
}
.img-logo{
    width: 80%;
    height: 80px;
    margin: 0 auto;
    margin-bottom: 15px;
}
.img-logo img{
    position: relative;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: all 0.5s;

}
.content{
    text-align: center;
    transition: all 0.5s;
}
.content h3{
    color: #47974c;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
}
.content p{
    font-size: 20px;
    color: white;
    font-weight: bold;
    margin-bottom: 15px;
    transition: all 0.5s;
}
.footer{
    margin-top: 150px;
    visibility: hidden;
    opacity: 0;
    transition: all 0.5s;
}
.footer .size p, .color p{
    color: white;
    font-size: 16px;
    font-weight: bold;
    padding: 5px 15px;
}
.footer .size span{
    background-color: rgb(165, 163, 163);
    padding: 1px 5px;
    color: black;
    border-radius: 5px;
    font-weight: 200;
    font-size: 15px;
}
.footer .color{
    display: flex;
    align-items: center;
}

.footer .color .green{
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: green;
}
.footer .color .red{
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color:red;
    margin: 0 10px;
}
.footer .color .black{
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: black;
}
.footer .btn{
    padding: 10px 15px; 
    
}
.footer .btn button{
    padding: 5px 10px;
    border-radius: 4px;
    background-color: #4daf54;
    outline: none;
    border: none;
    font-size: 14px;
    color: white;
}

/* Phần hiệu ứng hover */
.card:hover img{
    transform: translateY(-60px) rotate(-20deg);
}
.card:hover .content{
    transform: translate(-30px, -40px) ;
}
.card:hover .content p{
    transform: translate(-65px, -8px) ;
}
.card:hover .footer{
    visibility: visible;
    opacity: 1;
    margin-top: -30px;
    transition: all 0.5s;
    transition-delay: 0.3s;
}
